* {
    box-sizing: border-box;
}
.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
    transform: translate(-50%);
    left: 50%;
    top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #c7c7c7;
}

.autocomplete input[type="text"]:focus {
    outline: none; 
    border: 2px solid #000000;
    background-color: #ffffff;
}

.autocomplete-items {
    position: absolute;
    background-color: #000000;
    border-bottom: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: #000000 !important;
    color: #ffffff;
}


.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.gallery {
    position: relative;
    z-index: 1;
}

.autocomplete {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 5000; 
    width: 300px;
    transform: translate(-50%);
    left: 50%;
    top: 20px;
    gap: 10px;
}

.autocomplete input[type="text"] {
    flex: 1;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #c7c7c7;
}

#search-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
    transform: scale(1.1);
}

#search-button img {
    width: 22px;
    height: 22px;
}

#search-button:hover {
    transform: scale(1.2);
}