* {
    box-sizing: border-box;
}
.autocomplete {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 5000; 
    width: 350px;
    transform: translate(-50%);
    left: 50%;
    top: 20px;
    gap: 10px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #c7c7c7;
}

.autocomplete input[type="text"]:focus {
    outline: none; 
    border: 2px solid #000000;
    background-color: #ffffff;
}

.autocomplete-items {
    margin-top: -27px;
    margin-left: 0px;
    width: 290px;
    position: absolute;
    background-color: #000000;
    border-bottom: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background-color: #ffffff;
    /* border-bottom: 1px solid #d4d4d4; */
}
.autocomplete-items div:hover {
    background-color: #f5f5f5;
}
.autocomplete-active {
    background-color: #000000 !important;
    color: #ffffff;
}


.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    border-radius: 0px 0px 16px 16px;
}

.gallery {
    position: relative;
    z-index: 1;
}

.autocomplete-items div:last-child {
    border-radius: 0px 0px 15px 15px;
}

.autocomplete-items div:first-child {
    padding-top: 30px;
}


.autocomplete input[type="text"] {
    flex: 1;
    width: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;

    z-index: 100;
}

#search-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
    transform: scale(1.1);
}

#search-button img {
    width: 22px;
    height: 22px;
}

#search-button:hover {
    transform: scale(1.2);
}